%h1= "Articles#index"
%p= "Hello world"
%p= "Find me in app/views/articles/index.html.erb"

%p= "Lists of created articles"
%ul
  - @articles.each do |article|
    %li= link_to article.title, article

= link_to "New Article", new_article_path
